<h3 class="shifted">Пользователь: <strong>{}</strong></h3>
<h3>Вы можете:</h3>
<ul class="empty-list">
    <li><h3><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Просмотреть <a href="/logs">лог</a>
    </h3></li>
    <li><h3><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Удаленно открыть <a href="/door">дверь</a>
    </h3></li>
    <li><h3><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Получить доступ к <a
            href="/camera">веб-камере</a></h3></li>
    <li><h3><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Перейти к <a href="/control">панели
        управления</a></h3></li>
</ul>
