#logo {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}

.shifted {
    margin-top: 55px;
}

.small_shifted {
    margin-top: 20px;
}

.empty-list {
    list-style-type: none;
}

.alert {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
}

.navbar {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
}